.context-menu {
    @apply bg-white rounded;
    @apply dark:bg-gray-900 dark:text-gray-400;
    width: 150px;
    z-index: 1000;
    position: absolute;
    left: -9999px;
    top: -9999px;
    ul {
        li {
            @apply border-b text-xs p-2 hover:bg-gray-300 dark:border-gray-800;
            cursor: pointer;
            &:hover {
                @apply dark:bg-gray-700;
            }
            &:first-child {
                @apply rounded-t;
            }
            &:last-child {
                @apply border-none rounded-b;
            }
            span {
                @apply ml-2;
            }
        }
    }
}